/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 Dec 2013, 1:51:20 PM
    Author     : alphasheep
*/



div.darkcontentwrapper{
  position: absolute;
  left: 0;
  right: 0;
  margin: 6em auto;
  padding: 0;

  background-color: black;

}


div.descriptionbox{
  width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2em;
  text-align: center;

}

a.brighterlink{
  color: #8ae;
}